.about-content {
    display: flex;
    align-items: center;
    width: 822px;
    height: 341px;
    border-left: 1px solid #219d84;
    border-right: 1px solid #219d84;
    box-sizing: border-box;
    margin-top: 13px;
    margin-bottom: 13px;
    padding-left: 20px;
    padding-right: 20px;
}

.about {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    background-color: #2eb398;
}

.content-left {
    display: flex;
    align-items: center;
}

.content-right__icons {
    display: flex;
    justify-content: flex-end;
}

.content-right {
    height: 203px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.content-right__title-1 {
    color: #d7fcf5;
    font: normal 30px/1 "Maven Pro", sans-serif;
}

.content-right__title-2 {
    color: #20816d;
    letter-spacing: 2px;
    margin-bottom: 25px;
    
}

.content-right__text {
    font: 12px "Lato Regular", sans-serif;
    color: #d7fcf5;
    line-height: 1.3rem;

}




































.hexagon {
    width: 180px;
    height: 203px;
    background: red;
    position: relative;
    display: inline-block;
    margin-right: 20px;

}

.hexagon:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    border-left: 90px solid #2eb398;
    border-right: 90px solid #2eb398;
    border-bottom: 54px solid transparent;
}

.hexagon:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 0;
    border-left: 90px solid #2eb398;
    border-right: 90px solid #2eb398;
    border-top: 54px solid transparent;
}

.hexagon img {
    width: 180px;
    height: 203px;
}